/* --- Essential Color --- */
$shadow-color: #00000040;
$collapse-color: #F6F6F673;
$primary-color: #FF6060;
$background-color: #F6F6F6;
$linear-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);


/* --- Basic Color --- */
$white-color: #fff;
$black-color: #000;