.collapseContent {
  display: flex;
  gap: 76px;
  margin: 0px 100px;
  margin-top: 24px;
  margin-bottom: 50px;
}

.headerLayout {
  display: flex;
  justify-content: space-between;
  margin: 30px 100px 0px 100px;
}

.titleLocation {
  h1 {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
  }
}

.tagsRating {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 0px 100px;

  .tagsLayout {
    display: flex;
    gap: 10px;
  }
  
  .rating {
    display: flex;
  }
}
