@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixins;

.notFoundContainer {
  gap: 139px;
  margin: 139px 0;
  align-items: center;
  color: var.$primary-color;
  @include mixins.flex-column;
  justify-content: space-around;

  &__title {
    font-size: 12em;
  }

  &__subtitle {
    font-size: 36px;
  }

  &__backToHome {
    font-size: 18px;
    font-weight: 500;
    color: var.$black-color;
    text-decoration: underline;
  }
}

/* mobile */
@media (max-width: 768px) {
  .notFoundContainer {
    margin: 113px 0px;

    &__title {
      font-size: 100px;
    }

    &__subtitle {
      width: 80%;
      font-size: 18px;
      text-align: center;
    }

    &__backToHome {
      font-size: 14px;
    }
  }
  
}