@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixins;

.bannerContent {
  margin: 45px 0px;
  position: relative;
  margin-bottom: 43px;
  @include mixins.flex-center;

  &__title {
    z-index: 1;
    font-size: 48px;
    margin: 0px 18px;
    position: absolute;
    color: var.$white-color;
    text-shadow: 4px 4px var.$shadow-color;
    text-shadow: -1px 0 var.$black-color, 0 1px var.$black-color, 1px 0 var.$black-color, 0 -1px var.$black-color;
  }

  &__picture {
    width: 100%;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(60%);
    box-shadow: 0px 4px 4px 0px var.$shadow-color;
  }

  &__overlayPicture {
    width: 100%;
    opacity: 30%;
    height: 223px;
    position: absolute;
    border-radius: 25px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .bannerContent {
    margin: 27px 0px 0px 0px;
  
    &__title {
      left: 0;
      width: 70%;
      font-size: 24px;
      text-shadow: none;
      margin-left: 16px;
    }
  
    &__picture {
      height: 111px;
      border-radius: 10px;
    }
  
    &__overlayPicture {
      height: 111px;
      border-radius: 10px;
    }
  }
}