.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 415px;
  position: relative;

  .carouselPicture {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;

    position: absolute;
    z-index: -1;
    object-position: center;
  }

  .arrowBack {
    position: absolute;
    left: 10px;
    cursor: pointer;
  }

  .arrowNext {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  .carouselNbr {
    position: absolute;
    bottom: 10px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 375px) {
  .carousel {
    margin: 27px 0px 0px 0px;
    min-height: 256px;

    .carouselPicture {
      height: 255px;
      width: 335px;
    }

    .arrowBack {
      height: 24px;
    }
  
    .arrowNext {
      height: 24px;
    }

    .carouselNbr {
      display: none;
    }
  } 
}