@use '../abstracts/variables' as var;

.collapseContainer {
  margin-bottom: 45px;
  width: 100%;
  
  &__collapse {
    background-color: var.$primary-color;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;

    &__title {
      color: var.$white-color;
      font-size: 24px;
      padding: 10px 0px 10px 10px;
    }

    &__picture {
      height: 100%;
      margin: auto 0;
      padding-right: 10px;
    }
  }

  &__collapseContent {
    background-color: var.$collapse-color;
    font-size: 18px;
    padding: 16px 20px 20px 20px;
  }
}

/* mobile */
@media (max-width: 375px) {
  .collapseContainer {
    margin-bottom: 0px;

    &__collapse {
      height: 30px;
      align-items: center;

      &__title {
        font-size: 13px;
      }

      &__picture {
        width: 32px;
        height: auto;
      }
    }

    &__collapseContent {
      font-size: 12px;
      padding: 13px 20px 19px 20px;
    }
  }
}
