.collapseContainer {
  margin-bottom: 45px;
  width: 100%;
  
  .collapse {
  background-color: #FF6060;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;

  h2 {
    color: #FFF;
    font-size: 24px;
    padding: 10px 0px 10px 10px;
  }

  img {
    height: 100%;
    margin: auto 0;
    padding-right: 10px;
  }
}

  .collapseContain {
    background-color: #F6F6F673;
    font-size: 18px;
    padding: 16px 20px 20px 20px;
  }
}


@media (max-width: 375px) {
  .collapseContainer {
    margin-bottom: 0px;

    .collapse {
      height: 30px;
      align-items: center;

      h2 {
        font-size: 13px;
      }

      img {
        width: 32px;
        height: auto;
      }
    }

    .collapseContain {
      font-size: 12px;
      padding: 13px 20px 19px 20px;
    }
  }
}
