.footer {
  background-color: #000;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 28px;
  padding-bottom: 29px;
  position: static;
  bottom: 0;
  width: 100%;

  &Title {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
  }
}