@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixins;

.footer {
  left: 0;
  gap: 28px;
  width: 100%;
  height: 209px;
  position: absolute;
  align-items: center;
  justify-content: end;
  padding-bottom: 29px;
  @include mixins.flex-column;
  background-color: var.$black-color;

  &__title {
    font-size: 24px;
    font-weight: 500;
    color: var.$white-color;
  }
}

/* mobile */
@media (max-width: 768px) {
  .footer__title {
    width: 30%;
    font-size: 12px;
    text-align: center;
  }
}