.footer {
  background-color: #000;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 28px;
  padding-bottom: 29px;
  position: absolute;
  left: 0;
  width: 100%;

  &__title {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
  }
}

/* mobile */
@media (max-width: 375px) {
  .footer__title {
    font-size: 12px;
    text-align: center;
    width: 30%;
  }
}