@use '../abstracts/mixins' as mixins;

.navBar {
  margin: 45px 0px;
  align-items: center;
  margin-bottom: 50px;
  @include mixins.flex-between;


  &__menu {
    gap: 57px;
    display: flex;

    li {
      font-size: 24px;
      cursor: pointer;
    }

    .selectedLink {
      text-decoration: underline;
    }
  }
}

/* mobile */
@media (max-width: 375px) {
  .navBar {
    margin: 45px 0px 0px 0px;

    &__logo {
      height: 46px;
    }

    &__menu {
      gap: 26px;

      li {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}