@use '../abstracts/variables' as var;

.profileContent {
  display: flex;
  align-items: center;
  justify-content: end;

  &__name {
    width: 50%;
    font-size: 18px;
    text-align: end;
    font-weight: 500;
    margin-right: 10px;
    color: var.$primary-color;
  }

  &__picture {
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }
}

/* mobile */
@media (max-width: 768px) {
  .profileContent {
  
    &__name {
      font-size: 12px;
    }
  
    &__picture {
      width: 32px;
      height: 32px;
    }
  }
}