@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixins;

.tags {
  height: 25px;
  padding: 14px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  color: var.$white-color;
  @include mixins.flex-center;
  background: var.$primary-color;
}

/* mobile */
@media (max-width: 768px) {
  .tags {
    height: 18px;
    font-size: 10px;
  }
}