.tags {
  background: #FF6060;
  border-radius: 10px;
  height: 25px;
  width: 115px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}